body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, rgb(11, 0, 75), rgb(138, 2, 2));
  color: white;
  animation: gradient 15s ease infinite;
}

.footer {
  height: 20px;
}
/*Star Rating */

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  border-radius: 10px;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  width: 1em;
  font-size: 30px;
  color: rgb(255, 136, 0);
  cursor: pointer;
}

.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
  border-radius: 10px;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}

.active {
  background-color: rgba(255, 255, 255, 0.185);
  border-radius: 10px;
  border-color: black;
}

a {
  color: white;
  text-decoration: none;
  margin: 5px;
}

.lnk:hover {
  background-color: rgba(255, 255, 255, 0.185);
  border-radius: 10px;
  font-size: 105%;
  transition: 0.3s;
  transition-property: initial;
  padding: 0 10px 0;
}
/*colors*/

.black {
  color: black;
}

.blue {
  color: rgb(81, 81, 250);
}
/*column widths*/

.col-wide-80 {
  width: 80%;
  align-self: center;
}

.col-wide-60 {
  width: 60%;
  align-self: center;
}

.col-wide-30 {
  width: 30%;
  align-self: center;
}
/*Side way Padding*/

.side-pad-2 {
  padding: 0 2% 0;
}

.side-pad-5 {
  padding: 0 5% 0;
}

.side-pad-20 {
  padding: 0 20% 0;
}
/*All side Padding*/

.eq-pad-5 {
  padding: 5%;
}

.eq-pad-10 {
  padding: 10%;
}
/*All side Margin*/

.eq-mar-5 {
  margin: 5%;
}

.eq-mar-10 {
  margin: 10%;
}
/*margins*/

.mar2up {
  margin-top: 2rem;
}

.mar2down {
  margin-bottom: 2rem;
}

.mar2side {
  margin: 0 2rem 0;
}

.mar10side {
  margin: 0 10% 0;
}
/*Text-fonts*/

p3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.poptxt {
  font-family: "poppins";
}

.popin1 {
  font-family: "Poppins", sans-serif;
}

.popin2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
/*Text sizes*/

.txt1 {
  font-size: 1em;
}

.txt1-2 {
  font-size: 1.2em;
}

.txt1-5 {
  font-size: 1.5em;
}

.txt2 {
  font-size: 2em;
}

.txt3 {
  font-size: 3em;
}

hr {
  border: 2px solid rgba(235, 165, 165, 0.76);
  border-radius: 20px;
  width: 80%;
}

input,
textarea,
button {
  border-radius: 5px;
  border-width: 1px;
}

@media only screen and (min-width: 320px) {
  .header {
    margin: 3% 3% 3%;
    width: 94%;
  }
  .nav {
    display: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropbutton {
    margin-right: 20px;
    transition: 09s;
    background-color: rgba(212, 0, 0, 0.199);
    border-radius: 10px;
    border-width: 0.5px;
    position: relative;
    width: 4rem;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: inherit;
    width: auto;
  }
  .dropdown-ele {
    border-radius: 10px;
  }
  .dropdown a {
    background-color: rgba(212, 0, 0, 0.199);
    display: block;
  }
  .dropdown-content a:hover {
    background-color: rgba(212, 0, 0, 0.199);
    transition: 0.9s;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbutton {
    background-color: rgba(212, 0, 0, 0.199);
    transition: 0.9s;
  }
  .ele {
    padding: 3px;
    margin: 5 px;
  }
  .flip {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    width: 150px;
    height: 150px;
    perspective: 1000px;
    margin: 0;
  }
  .flip-area {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.9s;
    transform-style: preserve-3d;
  }
  .flip:hover .flip-area {
    transform: rotateY(180deg);
  }
  .front-flip,
  .back-flip {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .back-flip {
    background-color: rgb(230, 171, 63);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    border-radius: 55px;
    border-top-left-radius: 10px;
    box-shadow: 4px 5px rgba(0, 5, 0, 4.2);
  }
  .front-flip,
  .img {
    width: 150px;
    height: auto;
    border-radius: 55px;
    border-top-left-radius: 10px;
    box-shadow: 4px 5px rgba(0, 5, 0, 4.2);
  }
  .ele:hover {
    color: rgb(0, 8, 124);
    background-color: tomato;
    transition: 0.7s;
    border-radius: 4px;
  }
  a {
    text-decoration: none;
  }
  .content {
    width: 100%;
    height: auto;
  }
  .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
  }
  .container-ver {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container div {
    justify-self: flex-start;
  }
  .block {
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 20px;
    vertical-align: 50%;
  }
  .para {
    padding: 10px;
  }
  .footer {
    margin: 3%;
  }
}

@media only screen and (min-width: 500px) {
  /*-------------------------*/
  .header {
    height: 200px;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
  .intro {
    padding: 3%;
    width: 65%;
  }
  .contact {
    align-self: center;
    font-size: 15px;
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-left: 10%px;
  }
  .ele {
    display: ruby-text-container;
    padding: 3px;
    margin: 5 px;
  }
  .ele:hover {
    color: rgb(0, 8, 124);
    background-color: tomato;
    transition: 0.7s;
    border-radius: 4px;
  }
  .dropdown {
    display: none;
  }
  .weight300 {
    font-weight: 300;
  }
  .card {
    width: auto;
  }
  .flip {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    margin: 0 2% 0;
    margin-left: 5%;
  }
  .flip-area {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.9s;
    transform-style: preserve-3d;
  }
  .flip:hover .flip-area {
    transform: rotateY(180deg);
  }
  .front-flip,
  .back-flip {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .back-flip {
    background-color: rgb(230, 171, 63);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    border-radius: 95px;
    border-top-left-radius: 10px;
    box-shadow: 8px 4px rgba(0, 5, 0, 4.2);
  }
  .front-flip,
  .img {
    width: 250px;
    height: auto;
    border-radius: 95px;
    border-top-left-radius: 10px;
    box-shadow: 8px 4px rgba(0, 5, 0, 4.2);
  }
  .content {
    width: 100%;
    height: auto;
  }
  .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 3em;
    align-items: center;
    flex-wrap: nowrap;
  }
  .container-ver {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container div {
    justify-self: flex-start;
  }
  .block {
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 20px;
    vertical-align: 50%;
  }
  .para {
    padding: 20px;
  }
}
